/* MEDIDA PARA TELEFONOS SMARTPHONE */

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
    
    #menu_top{
        display: none;
    }
    
    #titulo{
        display: none;
    }
    
    #subheader .sociales{
        display: none;
    }

    #cabecera_fb{
    	display: none;
    }

    #no-slide{
    	display: none;
    }

    aside{
    	display: none;
    }

    /* MENU */

    /* BARRA DE MENU FIJO */

	.menu_bar {
		background:#000;
		display:block;
		left: 0;
		position: fixed;
		top:0;
		width:100%;
	}

	.menu_bar .bt-menu {
		display: block;
		color: #fff;
		font-size: 25px;
		font-weight: bold;
		padding: 20px;
		overflow: hidden;
		text-decoration: none;
	}

	.menu_bar span {
		float: left;
		font-size: 40px;
	}

	/* LISTAR MENU */

	#menuprincipal nav {
		width: 70%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	#menuprincipal nav ul li {
		display: block;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	#menuprincipal nav ul li a {
		display: block;
	}

	#menuprincipal nav ul li:hover .children {
		display: none;
	}

	#menuprincipal nav ul li .children {

		position: relative;
		width: 100%;
	}

	#menuprincipal nav ul li .children li{
	
	}

	#menuprincipal nav ul li .caret {
		float: right;
	}

	/* CONTENEDOR DE ARTICULOS */

	#contenido{
		width: 100%;
	}
}