/* ESTILOS POR DEFECTO */

*{
	padding: 0px;
	margin: 0px;
}

@font-face {
    font-family: 'bebas';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'bebasRegular';
	src: url('fonts/BebasNeueRegular.ttf');
	src: url('fonts/BebasNeueRegular.otf');
}

@font-face{
	font-family: 'OpenSansBold';
	src:ulr('fonts/OpenSansBold.ttf');
}

@font-face{
	font-family: 'OpenSansSemiBold';
	src: url('fonts/OpenSansSemiBold.ttf');
}

body{
	font-family: arial, helvetica, "sans serif";
	font-size: 16px; /* fuente padre */
	margin: 2px 10px 10px 10px;
}

/* CONTENEDOR PRINCIPAL */

#contenedor{
    margin: auto;
    max-width: 980px;
	width: 100%;

}

#subheader{
	margin: auto;
	max-width: 980px;
	width: 100%;
}

/* MENU TOP */

#menu_top ul li{
	display: inline-block;
	list-style: none;
}

#menu_top ul li a{
	font-size: 0.75em;
	padding-right: 0.3em;
	text-align: center;
	text-decoration: none;
}

/* CABECERA FACEBOOK */

#cabecera_fb img{
	margin-top: 5px;
	width: 100%;
}

/* LOGO */

#logo img{
	float: left;
	margin: 0.625em;
	width: 80px;

}

#titulo{
	float: left;
	width: 430px;
}

#titulo h1{
	font-family: bebas, arial;
	font-size: 2.3em;
	margin: 0.5em 0em 0em 0.3125em;
}

#titulo h2{
	color: gray;
	font-size: 1.125em;
	font-weight: normal;
	margin-top: -0.1em;
}

/* REDES SOCIALES HEADER */

.sociales{
	float: right;
	margin: 0.8em 1.25em 0em 0em;
}

.sociales img{
	width: 30px;
}

.sociales img:hover{
	box-shadow: 0px 2px white;
}

/* BUSCADOR HEADER */

.top-search{
	margin-top: 0.4375em;
}

/* MENU PRINCIPAL */

.menu_bar{
	display: none;
}

#menuprincipal nav {
	background: #000;
	z-index:2000;
	width:100%;
}

#menuprincipal nav ul {
	list-style:none;
	margin: auto;
	max-width: 980px;
	width: 100%;
}

#menuprincipal nav ul li {
	display:inline-block;
	position: relative;
}

#menuprincipal nav ul li a:hover {

}

#menuprincipal nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	text-transform: uppercase;
	padding: 0.9375em;
}

#menuprincipal nav ul li a span {
	margin-right: 0.625em;
}

#menuprincipal nav ul li:hover .children {
	display:block;
}

#menuprincipal nav ul li .children {
	background:#fff;
	display: none;
	position: absolute;
	width: 150%;
	z-index:2000;
}

#menuprincipal nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

#menuprincipal nav ul li .children li a {
	display: block;
	color: black;
	background: rgba(0,0,0,0.1);
}

#menuprincipal nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left: 0.625em;
}

#menuprincipal nav ul li .caret {
	position: relative;
	top:3px;
	margin-left: 0.625em;
	margin-right: 0px;
}

/* SLIDER */

#slideshow{
    margin: 0.3125em 0em;
}

#slideshow .thumb{
	width:64.5%;
	float:left;
	margin-right:2%;
}

#slideshow .extract{
	text-align: justify;
}

#slideshow article{
	color:#fff;
	float:left;
	height: 17.5em;
	margin-bottom: 25px;
	overflow: hidden;
	width:33%;
}

#slideshow article h2 a{
	color: #fff;
	font-family: 'bebasRegular', arial;
	font-size: 1.7em;
	line-height: 0.75em;
	text-decoration: none;
	text-transform: uppercase;
}

#slideshow article h2 a:hover{
	color: red;
}

#slideshow .ver_nota{
	color: #fff;
	background: red;
	border: 0;
	border-radius: 5px;
	padding: 4px;
}

#slideshow article .categoria{
	color: gray;
	font-size: 0.75em;
	margin-bottom: 0.3125em;
	text-transform: uppercase;
}

#slideshow .slidesjs-pagination{
	float: right;
	width: 140px;
}

#slideshow .slidesjs-pagination li{
	background:#B50707;
	display:inline-block;
	height:15px;
	margin-right:5px;
	width:15px;
}

#slideshow .slidesjs-pagination li a {
	font-size: 0px;
	display:block;
	height:15px;
	width:15px;
}

#slideshow .slidesjs-pagination li .active{
	background:#ffffff;
}

#slideshow .slidesjs-navigation{
	text-decoration: none;
	display: inline-block;
	padding: 10px 10px;
	float: right;
	float: left;
}

#slideshow .slidesjs-navigation{
	margin-right: 5px;
}

/* PROMOCIONES */

#promociones{
    float: left;
    width: 99%;
}

#promociones img{
    color: #fff;
    width: 100%;
}

/* ARTICULOS */

#contenido{
	clear: both;
	float: left;
    width: 64.5%;
}

#contenido article{
    float: left;
    margin: 0.3125em 0.5em 1.2em 0px;
    text-align: justify;
    width: 31.7%;
}

#contenido article h2{
	font-size: 1.2em;
	margin-bottom: 10px;
	text-align: left;
}

#contenido article h2 a{
	color: #000;
	text-decoration: none;
}

#contenido article h2 a:hover{
	text-decoration: underline;
}

#contenido article p.date{
	color: gray;
	font-size: 0.72em;
	margin: 12px 0px 12px 0px;
	text-align: left;
}

#contenido article p a{
	color: blue;
	text-decoration: none;
}

#contenido article p a:hover{
	text-decoration: underline;
}

#contenido article .extract{
	color: gray;
	font-size: 0.85em;
	line-height: 1.3em;
}

#contenido .imagen_item{
    width: 100%;
}

/* PRODUCTOS */

#productos{
	clear: both;
    float: left;
    overflow: auto;
    width: 100%;
}

#productos .wid_productos{
    float: left;
    margin: 0em 0.28125em 0em 0em;
    width: 48.9%;
}

#productos .wid_productos img{
	width: 100%;
}

/* GALERIA */

#galeria{
	clear: both;
    background: gray;
    height: 339px;
    float: left;
    width: 99%;
}

#galeria p{ 
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

/* ASIDE */

aside{
    background: gray;
    height: 1623px;
    float: left;
    margin-bottom: 5px;
    width: 35.5%;
}

aside p{
    color: #fff;
    padding-top: 200px;
    text-align: center;
}

/* PATROCINADORES */

#patrocinadores{
    background: #fff;
    float: left;
    width: 100%;
}

#patrocinadores .d_patrocinadores{
    color: #fff;
    margin: 10px 0px;
    width: 100%;
}

#patrocinadores .m_patrocinadores{
	display: none;
}

/* FOOTER */

footer{
    background: #000;
    float: left;
    width: 100%; 
}

footer #m_socialesfooter{
	display: none;
}

footer #menu_footer{
	float: left;
	padding: 1.3em;
	width: 25%;
}

footer #menu_footer .titulo_navegacion{
	border-bottom: 0.1875em solid #fff;
	color: #fff;
	font-family: 'OpenSansSemiBold', arial;
	font-weight: bold;
	font-size: 1.3em;
	padding-bottom: 0.625em;
}

footer #menu_footer nav{
	margin: 1em 0em 0em 0em;
}

footer #menu_footer nav ul li{
	list-style: none;
	padding: 0.1em;
	margin-left: 0.3125em;
}

footer #menu_footer nav ul li span{
	color: #fff;
}

footer #menu_footer nav ul li a{
	color: #fff;
	font-family: 'OpenSansSemiBold', arial;
	font-weight: bold;
	text-decoration: none;
}

footer #menu_footer nav ul li a:hover{
	text-decoration: underline;
}

footer #contacto_footer{
	color: #fff;
	float: right;
	padding: 1.3em;
	width: 65%;
}

footer #contacto_footer .titulo_contacto{
	border-bottom: 0.1875em  solid #fff;
	color: #fff;
	font-family: 'OpenSansSemiBold', arial;
	font-weight: bold;
	font-size: 1.3em;
	padding-bottom: 0.625em;
}

footer #contacto_footer #imagen_footer{
	float: left;
	margin: 0em 1.25em 0em 0.625em;
}

footer #contacto_footer #imagen_footer img{
	margin: 1.7em 0em 0em 0em;
	width: 80px;
}

footer #contacto_footer #datos_footer{
	margin: 1.5em 0em 0em 0em;
}

footer #contacto_footer p{
	font-size: 0.9em;
}

footer #contacto_footer p.ubicacion, p.telefono, p.mail{
	padding: 0.35em 0em;
	width: 100%;
}

footer #contacto_footer p a{
	color: #fff;
	text-decoration: none;
}

footer #contacto_footer p a:hover{
	text-decoration: underline;
}

footer #copyright{
	float: left;
	width: 100%;
}

footer #copyright p{
	background: #fff;
	border-bottom: 10px solid #000;
	color: #000;
	padding: 20px 0px;
	text-align: center;
}

