*{
	padding: 0px;
	margin: 0px;
}

/* CONTENEDOR PRINCIPAL */

#contenedor{
    margin: auto;
	width: 960px;
    max-width: 960px;

}

#subheader{
	width: 960px;
	margin: auto;
}

/* MENU TOP */

#menu_top ul li{
	display: inline-block;
	list-style: none;
}

#menu_top ul li a{
	padding-right: 5px;
	text-align: center;
	text-decoration: none;
}

/* LOGO */

#logo{
	width: 260px;
	height: 80px;
	background: url(imagenes/santani-logo.png);
	float: left;
	margin: 20px;
}

/* REDES SOCIALES HEADER */

.sociales{
	float: right;
	margin-top: 30px;
}

/* BUSCADOR HEADER */

.top-search{
	margin-top: 7px;
}

/* MENU PRINCIPAL */

.menu_bar{
	display: none;
}

#menuprincipal nav {
	background: #000;
	z-index:1000;
	width:100%;
    position: relative;
}

#menuprincipal nav ul {
	list-style:none;
	width: 960px;
	margin: auto;
}

#menuprincipal nav ul li {
	display:inline-block;
	position: relative;
}

#menuprincipal nav ul li a:hover {

}

#menuprincipal nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 15px;
}

#menuprincipal nav ul li a span {
	margin-right:10px;
}

#menuprincipal nav ul li:hover .children {
	display:block;
}

#menuprincipal nav ul li .children {
	display: none;
	background:#fff;
	position: absolute;
	width: 150%;
	z-index:1000;
}

#menuprincipal nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

#menuprincipal nav ul li .children li a {
	display: block;
	color: black;
	background: rgba(0,0,0,0.1);
}

#menuprincipal nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

#menuprincipal nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

#menuprincipal nav #tiendasocios{
    position: absolute;
    width: 170px;
    top: 0;
    right: 150px;
}

/* SLIDER */

#slideshow{
    margin: 20px 0px;
}

#slideshow .thumb{
	width:64.5%;
	height: 350px;
	float:left;
	margin-right:2%;
}

#slideshow .extract{
height: 250px;
overflow: hidden;
}

#slideshow article{
	float:left;
	text-align:justify;
	width:33%;
	color:#fff;
}

#slideshow .slidesjs-pagination{
	padding: 0px;
	width: 140px;
	float: right;
}

#slideshow .slidesjs-pagination li{
	background:#B50707;
	width:15px;
	height:15px;
	margin-right:5px;
	display:inline-block;
}

#slideshow .slidesjs-pagination li a {
	width:15px;
	height:15px;
	display:block;
	font-size:0px;
}

#slideshow .slidesjs-pagination li .active{
	background:#ffffff;
}

#slideshow .slidesjs-navigation{
	text-decoration: none;
	display: inline-block;
	padding: 10px 20px;
	float: right;
	float: left;
}

#slideshow .slidesjs-navigation{
	margin-right: 5px;
}

/* PROMOCIONES */

#promociones{
    background: gray;
    float: left;
    height: 100px;
    margin: 5px 0 0 5px;
    width: 98.2%;
}

#promociones p{
    color: #fff;
    text-align: center;
    padding-top: 45px;
}

/* ARTICULOS */

#contenido{
    clear: both;
    float: left;
    width: 64.5%;
}

#contenido article{
    float: left;
    padding: 5px;
    text-align: justify;
    width: 31.7%;
}

#contenido .imagen_item{
    height: 169px;
    width: 100%;
}

/* PRODUCTOS */

#productos{
    float: left;
    overflow: auto;
    width: 100%;
}

#productos .wid_productos{
    background: gray;
    height: 200px;
    float: left;
    margin: 5px 0 5px 5px;
    width: 48.9%;
}

#productos .wid_productos p{
    color: #fff;
    text-align: center;
    padding-top: 85px;
}

/* GALERIA */

#galeria{
    background: gray;
    float: left;
    height: 350px;
    margin: 5px 0 5px 5px;
    width: 98.2%;
}

#galeria p{ 
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

/* ASIDE */

aside{
    background: gray;
    float: left;
    height: 1623px;
    margin-top: 5px;
    width: 35.5%;
}

aside p{
    color: #fff;
    padding-top: 200px;
    text-align: center;
}

/* PATROCINADORES */

#patrocinadores{
    background: gray;
    float: left;
    height: 150px;
    width: 100%;
}

#patrocinadores p{
    color: #fff;
    padding-top: 60px;
    text-align: center;
}

/* FOOTER */

footer{
    background: #000;
    float: left;
    height: 200px;
    width: 100%; 
}

footer p{
    color: #fff;
    text-align: center;
    padding-top: 90px; 
}


